* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(14, 25, 39);
}

p {
  color: rgb(136, 146, 176);
}

.terminal-window {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100vh;
  padding: 0.5rem 0rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.terminal-bar-text {
  position: absolute;
  margin-top: 3px;
  color: #383838;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.column-child {
  flex: 1;
}

.terminal-line {
  position: relative;
  font-family: "Anonymous Pro", monospace;
  font-size: 0.9rem;
  color: #b7c5d2;
  margin-top: 5px;
}

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}
.link {
  color: #86d3ff;
}
.help {
  color: #e6945e;
  /* e6945e */
}
.skills {
  color: #707fff;
}

.aboutHead {
  color: #e9e16f;
}
.aboutTail {
  color: #c4e96fd3;
}

.code,
.error,
.fa-heart {
  color: #d7566a;
}

.dummy-keyboard {
  opacity: 0;
  filter: alpha(opacity=0);
}

::-webkit-scrollbar {
  display: none;
}

.anim-typewriter {
  animation: blinkTextCursor 0.75s ease-in-out infinite;
}

.line {
  margin-left: 1px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.9;
  border-right: 8px solid rgb(122, 142, 255);
}

@keyframes blinkTextCursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
