*{
    padding: 0px;
    margin:0px;
}

html {
    overflow-x: hidden;
}

body {
    background:url('../img/background_earth.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}



/* NAV START */




/* NAV END */









.hello{
    /* cursor: pointer; */

    margin:0px;
    padding:0px;
    font-size: 5vw;
    position: absolute;
    top:50%;
    left:16%;
}

.greypart{
    height: 100vh;
    /* background:rgb(255, 255, 255); */
    cursor: none;
}

.line {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(0, 0, 0, 0);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
    animation-name: cursor;
    opacity: 0.9;
}

/*Animation for cursor and text*/

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) 18 normal;
}

.anim-typewriter:hover {
    opacity: 1;
}

@keyframes typewriter {
    0% {
          width: 0;
    }
    40% {
          width: 45%;
    }
    65%{
        width: 45%;
    }
    100%{
        width:100%;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: #FFF4E0;
    }
    to {
          border-right-color: #1F2226;
    }
}

.intropart{
    text-align:center; 
    font-size: 32px;
    margin-top: 30px;
    padding:20%;
    height: 45vh;
    background:#1F2226;
}


.contact{
    margin:44px;
    border:2px solid skyblue;

}

.projects{
       color:rgb(0, 255, 85); 
      padding: 2.5px;
}

.projects:hover{
    background: linear-gradient(to bottom right,rgba(54, 167, 1, 0.479),rgba(31, 255, 87, 0.281) );

}


@keyframes projects{
    from{
        opacity: .9;
    }
    to{
        opacity: 1;
        background: linear-gradient(to bottom right,rgb(202, 149, 1),rgb(255, 195, 31) );
    }
}