html{
    margin:0px;
    padding: 0px;
  }

  body {
    text-align: center;
    font-size:28px;
    background: #383D45;
  }
  canvas {
    /* position: absolute; */
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 15px 15px 10px #00000060;
    /* cursor: none; */
  }

    
  a{
    color:#FC3C3C;
    font-family: 'Ubuntu', sans-serif;
  }
      
  .head {
    margin-top:5px;
    color: #00ADB5;
    font-family: 'Ubuntu', sans-serif;
  }    

  .endgame{
display: none;
background-image: linear-gradient(to bottom right, #2e3650, #202430);
border-radius: 5px;
box-shadow: 15px 15px 55px rgba(0, 0, 0);
width: 550px;
height: 700px;
top: 10%;
position: absolute;
left: 50%;
margin-left: -275px;
text-align: center;
color:#204E5F;
font-size: 2em;
animation: animate 1.5s alternate-reverse infinite;
transition: 1s;
}

ul{
  list-style: none;
  color:white;
  font-family: 'Ubuntu', sans-serif;
}


.submit {
    cursor: pointer;
    position: relative;
    background-color: #212531;
    color: rgb(209, 106, 204);
    padding-top: 13px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 13px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid rgba(209, 106, 204, 0.5);
  }

  
  .submit:hover {
    /* transform:scale(1.05); */
    border: 2px solid rgba(255, 255, 255, 0.75);
    color: white;
    background: rgba(235, 37, 225, 0.75);
    border: 2px solid rgba(235, 37, 225, 0.75);
    transition: 0.25s;
  }
  
  .submit:active {
    transform:scale(0.95);
    border: 2px solid rgba(0, 0, 0, 0.75);
    border: 2px solid rgb(150, 0, 92);
    background: rgb(168, 0, 104);
  }



  
  input:hover {
    background-image: linear-gradient(to bottom right, #262d42, #14171f);
  }
  
  input:focus {
    background-image: linear-gradient(to bottom right, #323e64, #14171f);
  }

  input {
    position: relative;
    margin-top: 15%;
    margin-bottom: 15%;
    /* border-radius:20px; */
    left:0px;
    width:484px;
    font-size: 25px;
    background-image: linear-gradient(to bottom right, #262d42, #202430);
    color: #00ADB5;
    padding: 25px;
    border: 1px solid rgba(70, 70, 99, 0);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  #points{
      color :rgb(0, 100, 180);
  }
