* {
    padding: 0px;
    margin: 0px;
  }
  canvas {
    /* border:black solid 2px; */
    display: block;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 15px 15px 25px rgb(24, 24, 24);
  }
  
  body{
    overflow: hidden;
    background:#383D45;
    font-family: 'Ubuntu', sans-serif;
  }
  div {
    width: 230px;
    margin-top: 15px;
    margin-left: 10px;
  }
  
.stroke{
  color:white;
}

.red{
  background-color: rgba(255, 0, 0, 0.2);
  padding:10px;
  border:2px solid red;
  color:red;
}

.green{
  background-color: rgba(43, 255, 0, 0.2);
  padding:10px;
  border:2px solid lightgreen;
  color:lightgreen;
}

.blue{
  background-color: rgba(0, 119, 255, 0.2);
  padding:10px;
  border:2px solid lightblue;
  color:skyblue;
}