*{
    padding: 0px;
    margin:0px;
}

body{
    
    background:rgb(41, 52, 68);
    font-family: 'Ubuntu', sans-serif;
}


  
.pro{
    text-align: center; 
    margin-right:3%;
    margin-top: 2% ;
}



a{
    border: 2px solid rgba(255, 255, 255, 0.295);
    background: linear-gradient(
      to bottom right,
        rgb(1, 186, 196),rgba(2, 169, 199, 0.37)
    );
    color:#FFF4E0;
    padding:25px;
    text-decoration: none;
    font-size: 25px;
    margin:25px 30px;
    display: block;
    width: 247px;
    float:right;
    border-radius:2px;
}


a:hover{
    border: 2px solid #FFF4E0;
    background: linear-gradient(
      to bottom right,
        rgb(0, 241, 253),rgba(4, 193, 226, 0.37)
    );
    color:rgb(255, 249, 238);
    transform: scale(1.07);
    transition: 0.3s;
}


.home{
    animation: home 1.5s infinite alternate-reverse;
}
.home:hover{
    background: linear-gradient(
        to bottom right,
        rgb(255, 206, 73),rgb(117, 86, 0)
      );
}

.home:active{
    background: linear-gradient(
        to bottom right,
        rgb(253, 78, 78),rgb(114, 0, 0)
    )
}

a:active{
    border: 2px solid #FFF4E0;
    background: linear-gradient(
        to bottom right,
        rgb(255, 206, 73),rgb(117, 86, 0)
      );
    color:rgb(255, 249, 238);
    transform: scale(1.07);
    transition: 0.3s;
}



@keyframes home{
    from{
        opacity: .7;
    }
    to{
        opacity: 1;
    }
}
