*{
    color:#fff;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    
}
body{
    background: url(https://wallpapercave.com/wp/4hrIhgG.jpg)
}


h1{
    font-size: 15rem;
}

h2{
    margin-top: 50px;
    padding: 5px;
    font-size: 3rem;
}
h3{
    font-optical-sizing: 1.4rem;
}
span{
    font-size: 6rem;
}


   

.degrees{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

#wear{
    font-size: 3rem;
}