*{
    font-size: 25px;
    color:#fff;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url(https://wallpapercave.com/wp/4hrIhgG.jpg)
}


h2{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 50px;
    
}




.degrees{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}


h1{
    font-size: 15rem;
}

span{
    font-size: 7rem;
}



#desc{    
    height: 33px;
    padding: 5px;
    margin: 5px;
}


#copyright{
    margin-top:90px;
}