<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
  <script src="main.js"></script>
</head>
<body>
<div class="container" >
  <div class="card" onclick ="breakOut()" >
    <a href = "#" class="title">Attai Breakout</a>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <div class ='info'>This is a classic and nostalgic game</div>

    </div>
  </div>
  <div class="card"  onclick ="dualPong()" >
    <a href = 'google.com' class="title">Dual Pong</a>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <div class ='info'>This is a two player game of Pong</div>
    </div>
  </div>
  <div class="card" onclick ="AttariShooter()">
    <h3 class="title">Attari Shooter</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
            <div class ='info'>This is a single player shooting game</div>
    </div>
  </div>
  <div class="card" onclick ="mouseAttari()">
    <h3 class="title">More coming soon</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
            <div class ='info'>More Games will be added soon</div>
    </div>
  </div>
</div>
</body>
