*{
    padding:0px;
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #2B3A42;
    font-family: 'Ubuntu', sans-serif;
}

td {
    border:  5px solid #EDF7F5;
    color: #B7D7D8;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
    cursor: pointer;
}


table {
	border-collapse: collapse;
    margin:80px auto;
}

table tr:first-child td{
    border-top: none; 
}

table tr:last-child td{
    border-bottom: none; 
}

table tr td:first-child {
    border-left: none; 
}

table tr td:last-child {
    border-right: none; 
}


.endgame{
display: none;
background-image: linear-gradient(to bottom right, #FFC6A8 ,rgb(247, 182, 147), rgb(88, 64, 51));
border-radius: 5px;
box-shadow: 10px 10px 55px rgba(0, 0, 0);
width: 200px;
height: 300px;
top: 87px;
position: absolute;
left: 50%;
margin-left: -100px;
text-align: center;
color:#204E5F;
font-size: 2em;
animation: animate 1.5s alternate-reverse infinite;
transition: 1s;
}


button{
    padding: 15px;
    background-color: #FFC6A8;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
    margin-top: 40%;
    border: none;
}

.text{
    margin-top: 15%;
}

button:hover{
    cursor: pointer;
    color: red;
}

button:active{
    color:balck;
}

input{
    background: rgba(0, 0, 0, 0.25);
    border:none;
    border-radius:2px;
    margin-top: 35px;
    padding: 10px;
    font-size: 12pt;
    width: 180px;
    height: 12px;
    outline: salmon;
}
